* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(199, 216, 232);
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px;
}

.card img {
    width: 400px;
}

.card {
    text-align: center;
    margin-bottom: 50px;
}